<!DOCTYPE html>
<html lang="en">
  <head>
    <title>video-pipe</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/style.css">
  </head>  
  <body>
    <div id="app" class="container">
      <h1>video-pipe</h1>
      <p>
        Send video over WebRTC. Powered by PeerJS.
      </p>
      <div v-if="false">
        <p>
          Loading...
        </p>
      </div>
      <template v-if="mode === 'loading'">
        <p>
          Setting up WebRTC and PeerJS...
        </p>
      </template>
      <template v-if="mode === 'sender'">
        <p>
          Select a video stream to send:<br>
          <select v-model="selectedDevice" v-if="devices">
            <option value="off">Do not send</option>
            <option :value="device.deviceId" v-for="device of devices"
              >{{ device.label }}</option
            >
          </select>
        </p>
        <p>
          <label>
            <input type="checkbox" v-model="noSleep">
            Prevent display sleep
          </label>
          
          <label v-if="callContext && callContext.currentCall && callContext.currentCall.stream">
            <input type="checkbox" v-model="callContext.showLocalStream">
            Show stream
          </label>
        </p>
        <div v-if="callContext && callContext.currentCall && callContext.currentCall.stream && callContext.showLocalStream">
          <video-stream :video-stream="callContext.currentCall.stream"></video-stream>
        </div>
      </template>
      <template v-if="mode === 'receiver'">
        <p id="connection-info">
          Other peers can connect to you by going to <a :href="url" @click="share($event, url)">{{url}}</a>
        </p>
        <p id="connection-status">
          Connected to {{activeConnections.length}} other peer{{activeConnections.length === 1 ? '' : 's'}}.
        </p>
        <template v-if="error">
          {{ error }}
        </template>
      </template>
      <div v-for="videoStream of videoStreams" :key="videoStream.id">
        {{videoStream.id}} - {{videoStream.status}}
        <video-stream :video-stream="videoStream.stream" v-if="videoStream.stream"></video-stream>
      </div>
    </div>

    <script src="https://unpkg.com/peerjs@1.0.0/dist/peerjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/nosleep.js@0.9.0/dist/NoSleep.min.js"></script>
    <script src="/script.js"></script>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
  </body>
</html>
